<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

<h2>1. Tutorial Angular Components - Your First App</h2>
https://angular.io/start
<ul>
  <strong>Basic</strong> 
  <li>Create a Component, access data to a local file in JSON</li>
  <li>Create a loop and if</li>
  <li>router-outlet ???? </li>
  <li>Inject Local file into a Component</li>
  <li>Understanding the files , HTML and ts</li> 
  <li>Calling a javascrit function on click</li>
</ul> 
<ul> 
  <strong>Property binding, event binding</strong>
    <li>*ngFor</li>
    <li>*ngIf</li>
    <li>Interpolation </li>
    <li>Property binding </li>
    <li>Event binding </li>
</ul>




<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

   <button (click)="share()">
    Share
  </button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>

</div>

<h2>2. Tutorial Angular - Routing</h2>

<p>
   Routing, we access from an Angular component to many angular components<br>
   Get access to an specific element of the json file store in aour file system<br>
   passing as the reference to get the element in the URL<br>
   https://angular.io/start/routing
</p>

<div *ngFor="let product of products; index as productId">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>
<!-- . . . -->
</div>


